<!-- <div class="col-lg-6 col-md-6 visible-md visible-lg visible-sm visible-xs clementine-content" id="referral-page"> -->

  <div class="students-list-wrapper">
    <!-- <div class="list-header">
      All Students
    </div> -->
    <%= render partial: 'sortable_student_list' %>
  </div>

  <div id="selected-students-list-wrapper">
    <!-- <div class="list-header">
      Current Roster
    </div> -->
    <%= render partial: 'sortable_roster' %>
  </div>

<!-- </div> -->
