<div class="form-group">
  <%= label_tag(:student_name, nil, class:"control-label") %>:<br />
  <div class="controls">
    <div class="input-group col-sm-4">
      <%= select_tag("referral[student_id]", options_from_collection_for_select(@students, 'id', "full_name"), class:"form-control date-picker") %>
    </div>
  </div>
</div>
