<div id="referral-page">
  <h1>Create a New Report</h1>
  <div id="referral-navigation-tabs">
    <button class="btn btn-lg btn-primary referral-tab" id="commendation">Acclaim</button>
    <button class="btn btn-lg btn-danger referral-tab" id="referral">Referral</button>
    <button class="btn btn-lg btn-warning referral-tab" id="uniform">Uniform</button>
    <button class="btn btn-lg btn-success referral-tab" id="tardy">Tardy</button>

  </div>

  <%= render partial: 'negative' %>
</div>
