/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */

@import "bootstrap";
@import "bootstrap-sprockets";
@import "font-awesome";

@import "style";
@import "retina";
@import "print";

@import "jquery-ui-1.10.3.custom.css";
@import "fullcalendar.css";
@import "chosen.css";
@import "select2.css";
@import "jquery.cleditor.css";
@import "jquery.noty.css";
@import "noty_theme_default.css";
@import "elfinder.min.css";
@import "elfinder.theme.css";
@import "uploadify.css";
@import "jquery.gritter.css";

@import "glyphicons.css";
@import "halflings.css";
@import "dropzone.css";
@import "filetypes.css";
@import "social.css";
@import "xcharts.min.css";
@import "jquery.easy-pie-chart.css";
@import "icheck/all.css";
@import "bootstrap-editable.css";

@import "referrals.css";
@import "magicsuggest.css";
@import "rosters";


/* Some Style from the Bootstrap Default Theme */
body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

#sign-in-link {
  font-size: 2em;
  color: white !important;
}
