// Place all the styles related to the Referrals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.text-area-input {
  height: 200px !important;
}

#referral-navigation-tabs {
  margin: auto !important;
}

.referral-tab {
  width: 25%;
  position: relative;
  float: left;
  text-align: center;
  display: block !important;
}

#referral-form {
  width: 100%;
  position: relative;
  clear: both;
}

#referral-page, #devise-page {
  display: block;
  margin: auto;
  border-left:
  1px solid #dbdee0;
  padding-left: 5%;
}
