// Place all the styles related to the Referrals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.text-area-input {
  height: 200px !important;
}

#referral-navigation-tabs {
  margin: auto !important;
}

.referral-tab {
  width: 25%;
  position: relative;
  float: left;
  text-align: center;
  display: block !important;
}

#referral-form {
  width: 100%;
  position: relative;
  clear: both;
}

#referral-page, #devise-page {
  display: block;
  margin: auto;
  border-left:
  1px solid #dbdee0;
  padding-left: 5%;
}

#student_name_suggestions {
  // display: none;
  position:absolute;
  z-index: 30000;
  width: 100%;
  top: 30px;
  right: 0px;
  background-color: white;
  border: 1px solid black;
}

#referral_student_id {
  width: 30% !important;
}

#ms-sel-ctn {
  width: 30% !important;
}

#dropdown-menu {
  z-index: 1000 !important;
}

input[type="text"] {
  width: 500px !important;
}

.control-label {
  margin-bottom: 10px;
}
